# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Outputs
outputs/runs/*
outputs/plots/*
!outputs/runs/.gitkeep
!outputs/plots/.gitkeep

# Data
data/*
!data/.gitkeep

# IDE
.vscode/
.idea/
